SSLRequireSSL
ErrorDocument 403 https://www.wingolf-aachen.de/intern/index.html

AddType application/x-httpd-php php php4 php3 html htm

<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>

AuthType Basic
AuthName "Bitte Zugangsdaten eingeben:"
AuthUserFile /usr/www/users/wingoc/usr/.htpasswd
AuthGroupFile /dev/null

order deny,allow
Require valid-user
