// Overwrites
$navbar-default-color: white;
$navbar-default-bg: hsla(0, 0%, 0%, 0.6);
$navbar-default-border: 0;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 10%);
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: darken($navbar-default-link-color, 10%);
$navbar-default-link-active-bg: transparent;
$icon-font-path: "fonts/";
$body-bg: hsl(0, 0%, 95%);

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap/";

$fa-font-path: "fonts/";

@import "../bower_components/components-font-awesome/scss/font-awesome.scss";


// Custom SCSS
body > .container {
	background-color: white;
	padding: 0 0px;
}

.container .jumbotron {
	margin: 0 -0px;
	padding-top: 100px;
	border-radius: 0;
	margin-bottom: 30px;
	text-align: center;
}
.container .jumbotron .semesterprogramm {
	padding-left: 30px;
	padding-right: 30px;
	text-align: right;

}

.chattia {
	background: url('assets/dom.jpg');
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
	color: white;

	margin-top: 80px;

 	h1 {
		color: hsl(0, 97%, 33%);
		text-shadow: 0px 0px 2px white;
	}
}

.chattia p {
	font-size: 30px;
}

.row {
	padding: 0px 10px;
  	margin-left: 0;
  	margin-right: 0;
  	margin-bottom: 1em;

  	h1 {
		padding-left: 0px;
		text-align: center;
		margin-bottom: 20px;
}
	h1 small {
		color: hsl(0,0,0%);
	}
}

@media (max-width: 767px) {
	.row {
		h1 {
			text-align: center;
		}
	}
}

.row1
.clearfix
.row.red, .row.gold {
	padding-top: 5px;
	padding-bottom: 10px;
}

.row.red {
	background-color: hsl(0, 97%, 25%);
  	color: hsl(0, 0%, 80%);

  	h1 small {
		color: hsl(0, 0%, 80%);
	}
}

.row.gold {
	background-color: hsl(47, 93%, 60%);
  	color: hsl(0, 0%, 20%);

  	h1 small {
		color: hsl(0, 0%, 20%);
	}
}
.col-centered{

		h2 {
		text-align: center;
	}
}

.anfahrt {
	padding: 5% 5% 5% 5%;
	
}

.wartburg {
	padding-top: 10px;
}	

.chattenheim{
	padding-bottom: 10px;
}

.carousel{
	margin:	0 -40px;
}
@media (max-width: 767px) {
	.anfahrt {
		padding: 0%;
	}
}
.col-centered{
		h2 {
		text-align: center;
	}
}

.well-sm{
	text-align: left;
}
footer {
	padding: 20px 0;
	color: white;
	background-color: hsl(0, 0%, 40%);
	text-align: center;
}
