// Overwrites
$navbar-default-color: white;
$navbar-default-bg: hsla(0, 0%, 0%, 0.6);
$navbar-default-border: 0;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: darken($navbar-default-link-color, 10%);
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-color: darken($navbar-default-link-color, 10%);
$navbar-default-link-active-bg: transparent;
$icon-font-path: "fonts/";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap/";

$fa-font-path: "fonts/";

@import "../bower_components/components-font-awesome/scss/font-awesome.scss";


// Custom SCSS
body > .container {
	margin-top: 71px;
}

.chattia {
	background: url('assets/dom.jpg');
	background-position: center center;
  	background-repeat: no-repeat;
  	background-size: cover;
	color: white;

 	h1 {
		color: hsl(0, 97%, 33%);
		text-shadow: 0px 0px 2px white;
	}
}

.chattia p {
	font-size: 30px;
}

.row {
	padding: 0px 10px;
  	margin-left: 0;
  	margin-right: 0;
  	margin-bottom: 2em;

  	h1 {
		padding-left: 15px;
		text-align: center;

	}
}

@media (max-width: 767px) {
	.row {
		h1 {
			text-align: left;
		}
	}
}

.row.red, .row.gold {
	padding-top: 5px;
	padding-bottom: 10px;
}

.row.red {
	background-color: hsl(0, 97%, 25%);
  	color: hsl(0, 0%, 80%);

  	h1 small {
		color: hsl(0, 0%, 60%);
	}
}

.row.gold {
	background-color: hsl(47, 93%, 60%);
  	color: hsl(0, 0%, 20%);

  	h1 small {
		color: hsl(0, 0%, 35%);
	}
}

.anfahrt {
	padding: 0 20% 0 0px;
}

@media (max-width: 767px) {
	.anfahrt {
		padding: 0;
	}
}

footer {
	margin: 20px 0;
	color: hsl(0, 0%, 50%);
}
